NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/boca_de_urna?schema=public
SESSION_TTL_HOURS=12
ADMIN_NAME=Administrador
ADMIN_USERNAME=admin
ADMIN_PASSWORD=CAMBIAR-ESTA-CONTRASENA
PUBLIC_APP_NAME=Boca de Urna
